<div class="d-flex bg-white pt-2">
  <div class="mx-2 w-25 my-auto">
    <%= image_tag display_icon(expenditure.group), class: "logo" %>
  </div>
  <div class="border-bottom w-75 mb-2">
    <div class="text-muted font-weight-bold"><%= expenditure.name %></div>
    <div class="font-weight-bolder"><%= number_to_currency(expenditure.amount) %></div>
    <div>
      <small><%= expenditure.created_at.strftime("%d/%h/%Y") %></small>
    </div>
    <div class="mb-3">
      <div class="text-muted">Created by <%= expenditure.author.username %></div>
    </div>
  </div>
</div>