<section>
  <h5 class="text-center text-muted">ALL EXPENDITURES</h5>
  <article class="border bg-white d-flex justify-content-between p-2">
    <p class="text-muted h6">Total amount</p>
    <div class="font-weight-bolder"><%= number_to_currency(@total_amount) %></div>
  </article>
  <div class="text-right my-2"><%= link_to "Add new expenditure", new_expenditure_path, class: "btn btn-outline-success" %></div>
  <article class="mt-3">
    <% @expenditures.each do |expenditure| %>
      <div class="d-flex bg-white pt-2">
        <div class="mx-2 w-25">
          <%= image_tag display_icon(expenditure.group), class: "logo" %>
        </div>
        <div class="border-bottom w-75 mb-2">
          <div class="text-muted font-weight-bold"><%= expenditure.name %></div>
          <div class="font-weight-bolder"><%= number_to_currency(expenditure.amount) %></div>
          <div class="mb-3">
            <small><%= expenditure.created_at.strftime("%d/%h/%Y") %></small>
          </div>
        </div>
      </div>
    <% end %>
  </article>
</section>